// Custom variable overrides go here
// For options, see node_modules/bootstrap/scss/_variables.scss
// examples:
// $body-bg: black;
// $body-color: white;
// $link-hover-color: grey;
// $font-family-sans-serif: "Helvetica Neue";

// Import Bootstrap styles
@import "../../node_modules/bootstrap/scss/bootstrap";

.jumbotron {
  background-image: url("../img/pirate-ship.jpg");
  background-repeat: no-repeat;
  background-image: center;
  background-size: cover;
  text-align: center;
  h1 {
    color: white;
    font-family: 'Liu Jian Mao Cao', cursive;
  }
  p {
    color: white;
  }
}
.row {
  border-bottom: solid 1px grey;
}
.container {
  h2 {
    font-family: 'Liu Jian Mao Cao', cursive;
  }
  h5 {
    font-size: medium;
  }
.col-sm-8 {
  border-left: solid 1px grey;
}

}
.nav-item-active {
  text-underline-position: hover;
}
// Import partials here
@import "footer"